body{
    background-size: 1360px;

}

h1{
    text-shadow: 0 0 5px #ff8c00, 0 0 15px #ff8c00, 0 0 30px #ff8c00;
    color: #ffffff;
    position: absolute; top: 200px; left: 100px;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2{
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

u{
    color: #000000;
    position: absolute; top: 320px; left: 485px;
}